MONGODB_URI=mongodb://user:password@localhost:27017/auth-db?authSource=admin
SECRET_KEY=secret-key

# mongo databse environment variables
MONGO_INITDB_ROOT_USERNAME: user
MONGO_INITDB_ROOT_PASSWORD: password